header 
{
    height: 450px;
    width: 2000px;
}

body 
{
    height: 1750px;
    width: 2000px;
}

footer 
{
    height: 750px;
    width: 2000px;
}

#header-section 
{
    height: 190px;
    width: 2000px;
    background-color: rgba(78,160,255,255);
    background-image: image("pattern.png");
}

#article-author
{
    color: rgba(23,165,227,255);
}

#logo
{
    height: 111px;
    width: 382px;
    position: absolute; 
    left: 0 px;
    bottom: 0px;
}

.font-color-grey 
{
    color: rgba(191,191,191,255);
}

thead
{
    background-color: rgba(32,169,229,255);
    color: rgba(243,250,253,255);
}

.light-blue-background 
{
    background-color: rgba(177,229,242,255);
}

table
{
    text-align: center;

}